<h1>List Articles</h1>

<table>
<thead>
<tr>
<th>Title</th>
<th>Desc</th>
<th>Actions</th>
</tr>
</thead>
<tbody> 
<% @articles.each do |article|%>
<tr>
<td><%=article.title%></td>
<td><%=article.desc%></td>
<td>Placeholder</td>

</tr>
<%end%>
</tbody>


</table>